/*estilos aparte del bootstrap*/
body{margin-bottom: 60px}
html {
	 position: relative; min-height:100%; font-size: 95%; /*100% = 16px  */
}

.login input:focus {
  background-color: #43749f!important;
  border-top: none!important; 
  box-shadow: none!important;
  border-left: none!important
  ;border-right: none!important;
  border-bottom: 1px solid #fff!important
}
.login input.form-control, .form-control{height: 30px}
.login::placeholder{font-size: 20px}
.bg_login h1{color:#fff}
.form-control-login{
    border-top:none; 
    border-right:none; 
    border-left:none;
    border-bottom:1px solid #fff; 
    border-radius:0; background:none; 
    background-color:transparent; 
    color:#fff!important; 
    box-shadow:none; 
}
.bg_login{/* background-image:url("../img/login_background.jpg");  */
background-color: #033140;}
.login .btn{padding:2px 10px; font-size: 14px}
.login {
	padding:50px 50px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%); ;
	background:#43749f;
    color:#fff; 
    margin-top: 20px;
    font-size:2.5em;
	display:block;
	margin-right:-10px;
}

.login ::-webkit-input-placeholder{font-size:15px;opacity: 0.5}
h2, .h2 {
	color:#ee7244!important;	
	clear:both; 
}
h3, .h3 {
	font-size: 1.2rem; margin-bottom:3px;
	color:#0094a8;	
	clear:both
}
h2 span {margin-right:10px}
a{color:#0094a8}
a:hover{color:#ee7244}
.nav li a{color:#fff;border-right:1px solid #fff}
.nav li:last-child a{border:none}
.nav li:hover, .nav li a.active{background-color:#ee7244}
a span { cursor: pointer}
.mar_r4 {margin-right:4px!important}
.mar_b20 {margin-bottom:20px!important}
.fleft {float:left}
.fright {float:right}
.txt_center {text-align:center}
.mar_t4 {margin-top:4px}
.mar_t10 {margin-top:10px}
.mar_t15 {margin-top:15px}
.mar_t40 {margin-top:40px}
.mar_0_-15 {
	margin:0 -15px
}ç
k
.bor0 {border:0!important}
.bort_white{ border-top:1px solid #fff}
.bort_0 {
	border-top:0!important
}
.padb40 {
	padding-bottom:20px!important
}
.width_auto {
	width:auto
}
.width_250 {
	width:260px
}
.width_20 {
	width:20px
}
.width_150 {
	width:150px
}
.width_600 {
	width:600px!important
}
.width_800 {
	width:1000px!important
}
.color_white{color:#fff;}
.color_orange{color:#ee7244}
.pad0 {
	padding-left:0;
	padding-right:0
}
#wrap {
	height: auto !important;
	margin: 0 auto ;
	min-height: 100%;
}

.wrap1{padding-top:120px; padding-bottom:60px }

@media (max-width: 400px) {
 .wrap {
padding-top:140px
}
}
@media (min-width: 540px) and (max-width: 760px) {
 .wrap {
padding-top:160px
}
}
@media (min-width: 770px) and (max-width: 960px) {
 .wrap {
padding-top:120px
}
}
.header {
	background:#fff;
	padding:10px 0;
}

.dropdown-menu{box-shadow: 0 6px 12px rgb(0 0 0 / 18%)}
.font_12 {
	font-size:12px
}
.font_14 {
	font-size:14px
}
.font_16{font-size:16px}
.font_26{font-size:26px}

.header_fixed{
    position:fixed;
    top:0; 
    z-index:1000; 
    right:0; left:0;background-color:#fff }

.form-group {
	margin-bottom:5px!important
}
.btn_blue {
	background-color: #0094a8; padding:3px 20px;
	color: #fff;
}
.btn_orange {
	background-color: #ee7836; padding:3px 20px;
	color: #fff;
}
.btn_red {
	background-color: #ee3636; padding:3px 20px;
	color: #fff;
}
.btn_orange:hover, .btn_orange:focus, .btn_orange.focus, .btn_orange:active, .btn_orange.active
{background-color: #e95e36;	color: #fff;}

.btn_red:hover, .btn_red:focus, .btn_red.focus, .btn_red:active, .btn_red.active
{background-color: #c02c2c;	color: #fff;}

.btn_blue:hover, .btn_blue:focus, .btn_blue.focus, .btn_blue:active, .btn_blue.active, .open > .dropdown-toggle.btn_blue {
	color: #fff;
	background-color: #ee7244;
	border-color: #fff;
}
select::-ms-expand {
    width:12px;
    border:none;
    background:#fff;
 }		

a:hover.glyphicon{ text-decoration: none}

input::-webkit-input-placeholder{
    color: #c3c3c3 !important;
    font-style: normal;
    font-size: 11px;
    font-family: "Open Sans" , sans-serif;
}
input::-moz-placeholder{
    color: #c3c3c3 !important;
    font-style: normal;
    font-size: 11px;
}
input:-ms-input-placeholder{
    color: #c3c3c3 !important;
    font-style: normal;
    font-size: 11px;
}

textarea{resize: none;}


.form-control{
    height: 24px;
    padding: 0px 0px 0px 10px;
}
ul.nav-tabs li.active
{
    border-top: 3px solid #588bb2 !important;
}
ul.nav-tabs li a
{
    color: #79a8cc;
    font-size: 13px;
    font-weight: lighter;
}
ul.nav-tabs li.active a
{
    color: #79a8cc;
    font-size: 13px;
    font-weight: 600 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-color: transparent !important;}
.modal-header .close {
     padding: 0; 
     margin: 0; 
}
.modal-header{background-color:#ee7244; text-align:center; padding:0.5rem 1rem  }
.modal-header h3 {color:#fff; padding-bottom:5px; font-size:15px;}
.modal-header h4 {color:#fff; padding-bottom:5px; text-transform:uppercase;}
.modal .btn-gris{padding:5px 10px; font-size:12px;}
.modal-footer{border-top:none; padding:0.5rem; padding-top:0 }
.modal-body{padding:1rem 1rem 0.5rem 1rem}
/*tabla*/
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {border-bottom: 0px solid #5b88a7}
.fixed-table-container {height:auto !important;}
.table-striped > tbody > tr:nth-of-type(odd) {background-color:#f1f1f1;}
.table-striped > tbody > tr:nth-of-type(even) {background-color:#fff;}

.modal .fixed-table-container > table > thead  > tr > th:nth-child(2), .modal .fixed-table-container > table > thead  > tr > th:nth-child(3), .modal .fixed-table-container > table > thead  > tr > th:nth-child(5), .modal .fixed-table-container > table > thead  > tr > th:nth-child(6), .modal .fixed-table-container > table > thead  > tr > th:nth-child(7) {width:80px !important; }
.modal .fixed-table-container > table > thead  > tr > th:nth-child(4) {width:74px !important;}
.personalize-width{width:980px;}
.modal .fixed-table-container > table > tbody  > tr > td:nth-child(2), .modal .fixed-table-container > table > tbody  > tr > td:nth-child(3), .modal .fixed-table-container > table > tbody  > tr > td:nth-child(4), .modal .fixed-table-container > table > tbody  > tr > td:nth-child(5), .modal .fixed-table-container > table > tbody  > tr > td:nth-child(6), .modal .fixed-table-container > table > tbody  > tr > td:nth-child(7) {min-width:121px !important; max-width:121px !important;}
.modal #fixed-table-container-1 td:nth-child(2) {padding-right:7px !important;}
.modal #fixed-table-container-1 td:nth-child(3), .modal #fixed-table-container-1 td:nth-child(5) {padding-right:8px !important;}
.modal #fixed-table-container-1 td:nth-child(6) , .modal #fixed-table-container-1 td:nth-child(7) {padding-right:10px !important;}
.modal #fixed-table-container-1 td:nth-child(4) {padding-right:2px !important;}
#fixed-table-container-1 td.padR0  {padding-right:6px !important;}
#fixed-table-container-1 td.pad-icon { padding-right:3px !important;}

h2, .h2 {font-size:20px;}
footer ul li {
    display: inline;
    list-style: none;
    margin: 0 0.2em;
    background: url(../img/dotted-01.png) left no-repeat;
    padding: 0 0em 0 1em;}

footer a {
    color: #fff;
    text-decoration: underline
}
footer ul li:first-child {
    background: none;
}

footer.footer-container {
	background-color: #43749f;
    color:#fff;
	height: 60px;
	width: 100%;
	text-align:center;
	padding-top:10px;
	bottom:0;
	position: absolute;
	clear:both; 
}


fieldset {background: #ededed;  padding: 10px 0px 5px 5px;}
.dotted {border-bottom:#1691be dotted 1px;}


@media (max-width: 767px) {

.navbar-nav li.no-border  .dropdown-menu {position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 210px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.form-control {display:inline-block;}

.header .img-responsive:first-child {max-width:39%;}
.header .img-responsive {max-width:25%; margin-top:10px;}
.breadcrumb {padding: 20px 22px 0 15px;}
.datos-paciente {margin-top: 0px;}
.estado-resp {margin-bottom:20px; text-align:center;}
.modal-content, .modal.in .modal-dialog {width:100%; height:100%; margin:0; }
.modal-content img {max-width:100%;}

}

@media (min-width: 768px) {
.modal-dialog {margin: 11% auto;}
}

@media (min-width: 1024px) {
/*personalizados*/
.form-group {margin-bottom: 10px;}
.form-group  label {margin-bottom:0px;}
input.form-control, .form-control {height: 26px;}
.bootstrap-select > .dropdown-toggle.form-control {height: 26px;}
.padT10 {padding-top:10px;}
}

@media  (min-width: 960px) {
	h1, .h1 {
  font-size: 1.5rem;
}
}
@media (min-width: 540px) and (max-width: 960px) {	
	h1, .h1 {
  font-size: 1.7rem;
}
}

@media (max-width: 540px)  {	
h1, .h1 {font-size: 1.2rem;}	
.header img.img-fluid{width: 200px;
        max-width: 100%;
        height: auto;}	

}
.nav{flex-wrap: nowrap}
.dropdown-menu{min-width: 17em}
.ipn-title {
    font-family:  "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"; font-size: 2em; color:#ac2158; padding-top:7px; background: linear-gradient(to left,#ac2158, #0094a8 100%);  -webkit-background-clip: text; -webkit-text-fill-color: transparent; padding-left: 20px; background: -ms-linear-gradient(#fff, #fff); /*IE10*/-ms-background-clip: text; -ms-text-fill-color: transparent;
  }

.nav{background-color:#0094a8}
.admin_user li{display:block;margin:0 12px 0 12px}
.admin_user li span{color:#045564; font-weight:bold; float:left;margin-right:5px }
.admin_user a{padding: 0.25rem 0rem;} 

.main_container{padding:15px 20px ; background-color:#f7f7f8; margin-bottom:20px }
.form-control{padding: 2px; height: 26px}
.dropdown-item.active, .dropdown-item:active {  
	background-color: #0094a8;}
button, button:focus, button:active {
  outline: none;
}

div.title-orange {
    height: 17px;
    width: 8px;
    background-color: #ee7836;
    margin-right: 10px;
    display: inline-block;
 }
 .nav-link:hover{
    background-color: #ee7836!important;
}
 .datepicker-dropdown {
     margin-top: 50px;
 }
 .swal2-container {
    z-index: 5000;
  }



